.container {
  margin-top: 3rem;
  width: 1200px;
  overflow-wrap: anywhere;
  border-collapse: collapse;
  text-align: center;
}

.container td,
.container th {
  width: 50%;
  border: 3px solid black;
}

.loader {
  --loader-indent: 50px;
  position: absolute;
  left: calc(50% - 2 * var(--loader-indent));
  bottom: calc(50% - var(--loader-indent));
}
